header {
  height: 300px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container { 
  margin-top=50px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.pink {
  background-color: pink;
  padding:20px;
  border:solid black;
}
  
.container {
  display: flex;
  gap: 20px;
}

.pink a {
  text-decoration: none;
  color: black;
}